<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Projeto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{{ url_for('index') }}">Listar Clientes</a></li>
                <li><a href="{{ url_for('add_cliente') }}">Adicionar Cliente</a></li>
                <hr>
                <li><a href="{{ url_for('listar_produtos') }}">Listar Produtos</a></li>
                <li><a href="{{ url_for('add_produto') }}">Adicionar Produto</a></li>
            </ul>
        </aside>

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>